$primary: #409DEF;
$grey-text: #788195;
$darkbackground: #282E3E;
$danger: #f64744;
$green: #00a854;

$primaryFont: Roboto, sans-serif;
$font-size: 14px;
$font-size-small: 12px;
$font-size-main-heading: 19px;
$font-size-heading: 16px;

